body{
	background: black;
	color: white;
	size: 150%;
	margin: 5%;
}

li{
	text-decoration: none;
	display:inline;
	background-color: white;
	color: black;
}

a:focus{
	border: 1px solid;
}


p{
	font-family: Arial;
}

.current{
	color: #00000;
	background: blue;
}

.skip{
	position: relative;
	left: -2000px;
}
